:root {
  --font-green: #147601;
  --font-title: 'Lobster', sans-serif;
}

.navbar-cotainer {
  background-color: #d26415;
  margin: 30px;
  border-radius: 20px;
}

.navbar-link {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: underline;
  font-weight: lighter;
}

.user-item {
  border: solid 1px #fff;
  border-radius: 20px;
  font-weight: lighter;
  padding: 0 10px;
}

.mobile-menu-icon {
  font-size: 28px;
  color: #fff;
  border-color:#fff;
}

.logout-button {
  color: #fff;
  font-size: 28px;
}

.logout-button:hover {
  color: #000;
}

.add-link {
  color: #d26415;
  font-size: 1.5rem;
}

.add-link:hover {
  color: #147601;
}

.view-link {
  color: #137200;
}

.view-link:hover {
  color: #d26415;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}

th, td {
  border-radius: 50px;
  padding: 10px 30px;
  text-align: center;
}

th {
  background-color: #F3C29E;
  color: #d26415;
}

td {
  background-color: #CEF7C5;
  color: #137200;
}

@media only screen and (max-width: 768px) {
  .hidden-in-tablet {
    display: none;
  }
}
