{% load static %}

<div class="d-flex justify-content-evenly" style="margin-bottom: 25px;">
    <img class="hidden-in-tablet" src="{% static 'img/list_title_img.png' %}" alt="" height="50px">
    <h1 class="d-flex align-items-center" style="font-family: var(--font-title); color: var(--font-green);">{{ title }} <img style="margin-left: 10px;" src="{% static 'img/cook_img.png' %}" alt="" height="45px"></h1>
    <img class="hidden-in-tablet" src="{% static 'img/list_title_img.png' %}" alt="" height="50px">
  </div>
