{% extends 'base.html' %}

{% block content %}
  <h1>Cook list <a style="float: right;" class="btn btn-secondary" href="{% url 'menu:cook-create' %}">+</a></h1>
  <table class="table">
    <tr>
      <th>Full Name</th>
      <th>Username</th>
      <th>Years of Experience</th>
      <th></th>
    </tr>
    {% for cook in cook_list %}
      <tr>
        <td>{{ cook.first_name }} {{ cook.last_name }}</td>
        <td>{{ cook.username }}</td>
        <td>{{ cook.years_of_experience }}</td>
        <td><a href="{{ cook.get_absolute_url }}">View</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No cooks available.</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
