{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-evenly">
    <img class="hidden-in-tablet" src="{% static 'img/list_title_img.png' %}" alt="" height="50px">
    <h1 class="d-flex align-items-center" style="font-family: var(--font-title); color: var(--font-green);">Dish list <img style="margin-left: 10px;" src="{% static 'img/cook_img.png' %}" alt="" height="45px"></h1>
    <img class="hidden-in-tablet" src="{% static 'img/list_title_img.png' %}" alt="" height="50px">
  </div>
  <form action="" method="get" style="margin: 1rem 0 2rem">
    <div class="input-group d-flex justify-content-center container-search">
      {{ search_form|crispy }}
      <button type="submit" class="btn" style="background-color: var(--orange); color: white; border-radius: 0 50px 50px 0;">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
  <table class="mx-auto">
    <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-in-tablet">Type</th>
        <th class="hidden-in-tablet">Price</th>
        <th style="background-color: transparent;">
          <a class="add-link" href="{% url 'menu:dish-create' %}"><i class="fa-solid fa-plus"></i></a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for dish in dish_list %}
        <tr>
          <td>{{ dish.name }}</td>
          <td class="hidden-in-tablet">{{ dish.dish_type.name }}</td>
          <td class="hidden-in-tablet">${{ dish.price }}</td>
          <td><a href="{% url 'menu:dish-detail' dish.pk %}" class="view-link">View</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No dishes found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
