{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="padding-top: 25px;">
  <h1 style="font-size: 2.5rem; color: var(--font-green); margin-bottom: 15px; font-family: var(--font-title);">
    Delete Dish Type
  </h1>

  <p style="font-size: 20px; color: #999;">Are you sure you want to delete the dish type: <u>{{ dishtype }}</u></p>
  <p style="font-size: 20px; color: #999;"><i>All Dishes with this dish type will be also deleted</i></p>
  <form action="" method="post">
    {% csrf_token %}
    <button class="btn btn-orange" type="submit" style="margin-top: 15px;">Yes, delete</button>
  </form>
  {% include 'includes/footer.html' with footer_bottom="20px" %}
</div>
{% endblock %}
