{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish list <a style="float: right;" class="btn btn-secondary" href="{% url 'menu:dish-create' %}">+</a></h1>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <button type="submit" class="btn btn-secondary">🔎</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for dish in dish_list %}
        <tr>
          <td>{{ dish.name }}</td>
          <td>{{ dish.dish_type.name }}</td>
          <td>${{ dish.price }}</td>
          <td><a href="{% url 'menu:dish-detail' dish.pk %}">View</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No dishes found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
