{% extends 'base.html' %}

{% block content %}
  <h1>Dish Type list <a style="float: right;" href="{% url 'menu:dish-type-create' %}">+</a></h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for dishtype in dishtype_list %}
      <tr>
        <td>{{ dishtype.name }}</td>
        <td>
          <a href="{% url 'menu:dish-type-update' dishtype.pk %}">EDIT</a>
        </td>
        <td>
          <a href="{% url 'menu:dish-type-delete' dishtype.pk %}">DELETE</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No dish types available.</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
